<div class="section group">
	<div class="col span_1_of_3" ng-repeat="questionnaire in questionnaires">
		<p class="cse"><strong><a ng-href="#Questionnaires/{{questionnaire.questionnaire.id}}">{{ questionnaire.questionnaire.nom_questionnaire }}</a></strong></p>
		<p><strong>Entreprise :</strong> {{ questionnaire.questionnaire.entreprise }}</p>
		<p><strong>Dates :</strong> {{ questionnaire.questionnaire.date_debut }} - {{ questionnaire.questionnaire.date_fin }}</p>
		<p style="width:80%" data-value="{{ questionnaire.pourcentage }}">Avancement :</p>
		<progress max="100" value="{{ questionnaire.pourcentage }}" class="progressbar">
			<div class="progress-bar">
				<span style="width: 80%">{{ questionnaire.pourcentage }}%</span>
			</div>
		</progress>
	</div>
</div>
